<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Team Randomizer</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/setup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <div class="jumbotron">
        <h1>Randomizer App</h1>
        <form class="form-signin">
        <label for="numberOfTeams" class="sr-only">Number of Teams</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Number Of Teams" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Randomize</button>
      </form>
      </div>



      <footer class="footer">
        <p>&copy; Raymon Tour Inc. 2015</p>
      </footer>

    </div>
  </body>
</html>