<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Raymon Randomizer</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/setup.css" rel="stylesheet">


  </head>

  <body>

    <script type="text/javascript" src="../static/js/mustache.js" ></script>
    <script type="text/javascript" src="../static/js/randomize.js"></script>

    <div class="container">
      <div>
          <p></p>
          <p></p>
      </div>

      <div class="jumbotron">
        <h1 align="center">Randomizer App</h1>
        <form class="form-signin" action="" method="POST">
        <label for="teamsize" class="sr-only">Team Size</label>
        <input type="number" name="teamsize" id="teamsize" class="form-control" placeholder="Team Size" required autofocus>
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button" onclick="return loadXMLDoc()">Randomize</button>
        </form>
      </div>

      <div class="jumbotron" id="myDiv"></div>



      <footer class="footer">
        <p>&copy; Raymon Tour Inc. 2015</p>
      </footer>

    </div>
  </body>
